#### LeetCode - SQL - #619

Refer [619. Biggest Single Number](https://leetcode.com/problems/biggest-single-number/description/)

A  **single number**  is a number that appeared only once in the  `MyNumbers`  table.

Find the largest  **single number**. If there is no  **single number**, report  `null`.

In [26]:
data_my_numbers = [[8], [8], [3], [3], [1], [4], [5], [6]]
columns_my_numbers = ['num']
schema_my_numbers = {'num':'Int64'}

In [27]:
import pandas

pandas_df_my_numbers = pandas.DataFrame(data=data_my_numbers, columns=columns_my_numbers).astype(schema_my_numbers)

In [ ]:
from pyspark.sql import SparkSession

spark_context = SparkSession.builder.appName('LeetCode SQL').getOrCreate()

# Spark DataFrame using Pandas DataFrame
# Creating Spark Dataframe from pandas dataframe
df_my_numbers = spark_context.createDataFrame(pandas_df_my_numbers)
df_my_numbers.schema
df_my_numbers.show()

In [ ]:
# Creating Spark Dataframe directly in PySpark function converts 'None' to 'Null'
schema_my_numbers = 'num integer';

df_my_numbers = spark_context.createDataFrame(data=pandas_df_my_numbers, schema=schema_my_numbers)
df_my_numbers.schema
df_my_numbers.show()

In [30]:
from pyspark.sql import functions as F

df_my_numbers_grouped \
    = df_my_numbers.groupBy(df_my_numbers.num).agg(
        F.count(df_my_numbers.num).alias("num_count")
    )

df_my_numbers_grouped \
    .filter(df_my_numbers_grouped.num_count == 1) \
    .select(F.max(df_my_numbers_grouped.num).alias("num")) \
    .show()

+---+
|num|
+---+
|  6|
+---+