#### LeetCode - SQL - #627

Refer [627. Swap Salary](https://leetcode.com/problems/swap-salary/description/)

Write a solution to swap all  `'f'`  and  `'m'`  values (i.e., change all  `'f'`  values to  `'m'`  and vice versa) with a  **single update statement**  and no intermediate temporary tables.

Note that you must write a single update statement,  **do not**  write any select statement for this problem.

In [12]:
data_salary = [[1, 'A', 'm', 2500], [2, 'B', 'f', 1500], [3, 'C', 'm', 5500], [4, 'D', 'f', 500]]
columns_salary = ['id', 'name', 'sex', 'salary']
schema_salary = {'id':'Int64', 'name':'object', 'sex':'object', 'salary':'Int64'}

In [13]:
from pyspark.sql import SparkSession

spark_context = SparkSession.builder.appName('LeetCode SQL').getOrCreate()

In [ ]:
# Create Spark Dataframe using Pandas
import pandas

pandas_df_salary = pandas.DataFrame(data=data_salary, columns=columns_salary).astype(schema_salary)

df_salary = spark_context.createDataFrame(pandas_df_salary)
df_salary.printSchema()
df_salary.show()

In [ ]:
# Create Spark Dataframe using PySpark functions - 1
schema_salary = 'id integer, name string, sex string, salary integer'

df_salary = spark_context.createDataFrame(data=data_salary, schema=schema_salary)
df_salary.printSchema()
df_salary.show()

In [ ]:
# Create Spark Dataframe using PySpark functions - 2
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

schema_salary = StructType([
    StructField('id', IntegerType(), False),
    StructField('name', StringType(), True),
    StructField('sex', StringType(), True),
    StructField('salary', IntegerType(), True)
])

df_salary = spark_context.createDataFrame(data=data_salary, schema=schema_salary)
df_salary.printSchema()
df_salary.show()

In [17]:
from pyspark.sql import functions as F

df_salary \
    = df_salary \
        .select(
            df_salary.id,
            df_salary.name,
            F.when(df_salary.sex == 'm', 'f').otherwise('m').alias('sex'),
            df_salary.salary
        ).show()

+---+----+---+------+
| id|name|sex|salary|
+---+----+---+------+
|  1|   A|  f|  2500|
|  2|   B|  m|  1500|
|  3|   C|  f|  5500|
|  4|   D|  m|   500|
+---+----+---+------+