#### LeetCode - SQL - #596

Refer [596. Classes More Than 5 Students](https://leetcode.com/problems/classes-more-than-5-students/description/)

Write a solution to find all the classes that have  **at least five students**.

Return the result table in  **any order**.

In [ ]:
data_courses = [['A', 'Math'], ['B', 'English'], ['C', 'Math'], ['D', 'Biology'], ['E', 'Math'], ['F', 'Computer'], ['G', 'Math'], ['H', 'Math'], ['I', 'Math']]
columns_courses = ['student', 'class']
schema_courses = {'student':'object', 'class':'object'}

In [ ]:
import pandas

pandas_df_courses = pandas.DataFrame(data=data_courses, columns=columns_courses).astype(schema_courses)

In [ ]:
from pyspark.sql import SparkSession

spark_context = SparkSession.builder.appName("LeetCOde SQL").getOrCreate()

# Spark DataFrame using Pandas DataFrame
df_courses = spark_context.createDataFrame(pandas_df_courses)
df_courses.printSchema()
df_courses.show(5)

In [ ]:
from pyspark.sql import functions as F

df_courses_grouped = df_courses.groupBy(F.col("class")).agg(F.count(F.col("student")).alias("student_count"))

df_courses_grouped \
    .filter(F.col("student_count") >= 5) \
    .select(F.col("class")) \
    .show()